@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

html{
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family:  'Poppins', sans-serif;
}

body{
    background-color: #F5F5F5;
}

.wrapper{
    display: flex;
    flex-direction: column;
}
.content{
    width: 43%;
    height: 400px;
    margin: 1.5rem auto;
    padding: 1.5rem;
    background-color: #FFFFFF;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;    
}

.content__x{
    margin: .5rem;
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    color:#cfcfcf ;
}

.efect:hover{
    color: #2C3E50;
    cursor: pointer;
}

.content__logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.content__texto{
    width:70%;
    margin: 1.8rem auto;
    text-align: center;
}

.content__texto p{
    font-size: 1.5rem;
}

.content__button{
    width: 100%;
    margin: 1.8rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    text-decoration: none;
    padding: .8rem 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.button-red{
    background-color: #ED6755;
    color: #FFFFFF;
    border: 2px solid #ED6755;
    border-radius: .8rem;
}

.button-red:hover{
    background-color: #FFFFFF;
    color: #ED6755;
    border: 2px solid #ED6755;
    border-radius: .8rem;
}

.button-blue{
    background-color: #2C3E50;
    border: 2px solid #2C3E50;
    color: #FFFFFF;
    border-radius: .8rem;
}

.button-blue:hover{
    background-color: #FFFFFF;
    color: #2C3E50;
    border: 2px solid #2C3E50;
    border-radius: .8rem;
}

/* .fooder-text{
    width: 100%;
    margin: 2rem auto;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #2C3E50;
} */

.fooder-logo{
    width: 12%;
    margin: 2rem auto;
    text-align: center;
}